<input [(ngModel)]="inputText" type="text" class="form-control" />
<p>{{ inputText }}</p>
<h3>Mo'men Mohamed</h3>
<button
  [disabled]="!allowUser"
  (click)="onCreatingUser()"
  class="btn btn-primary"
>
  Apply
</button>
<p [innerText]="addingUser"></p>
<button [disabled]=" inputText === '' " (click)="handleResetUser()" class="btn btn-danger">Reset</button>
<p *ngIf="createUser ; else noCreatedUser" >User is created and the result of input is {{inputText}}</p>
<ng-template #noCreatedUser>
<p>User isn't created!</p>
</ng-template>
